<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>Controller_Pick_Place_1</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\CETSA\AppData\Local\ABB\RobotWare\RobotWare_6.08.1040" name="RobotWare" version="6.08.1040">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
    <Option descr="608-1 World Zones">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 1660ID-4/1.55">
    </Option>
  </DriveModule>
</SystemProperties>